<li class="separator acl-write"></li>
<li id="align" class="acl-write">
  <a class="draw" title="Draw">
    <span class="buttonicon toggle_draw" style="background-image:url('../static/plugins/ep_draw/static/img/icon.png');"></span>
  </a>
</li>
