<!--
<li class="separator acl-write"></li>
<li id="align" class="acl-write">
  <a class="draw toggle_draw" title="Drawing Tool">
    <span class="buttonicon draw_icon"></span>
  </a>
</li>
-->

<li data-type="button" data-key="ep_draw">
  <a class="grouped-middle ep_draw draw toggle_draw" data-l10n-id="ep_draw" title="Drawing tool" aria-label="Drawing tool">
    <button class="buttonicon buttonicon-draw ep_draw draw_icon" data-l10n-id="ep_draw" title="Drawing tool" aria-label="Drawing tool" height="16px" width="16px"></button>
  </a>
</li>
